<section class="login-sec">
    <div class="container container-fluid">
        <div class="row">
            <div class="col">
                <form class="container-fluid form-container">
                    <div class="p-3 mb-3 bg-primary-subtle">
                        <h2 class="text-center font-4">Admin Area</h2>
                        <h3 class="text-center">Login to manage <br> the Property</h3>
                    </div>
                    <div class="mb-3">
                      <label for="formGroupInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="formGroupInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check pb-3">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary text-center">Submit</button>
                        <a routerLink="/signup">New user ? Click to Signup</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
