.login-sec{
    padding: 15rem;
    background-image: url("/assets/Images/2201_w039_n003_105b_p1_105.jpg");
    background-size: cover;
}
.form-container{
    width: 40%;
    background-color: antiquewhite;
    padding: 3rem;
    box-shadow: 5px 5px 30px rgba(0,0,0.3);
}